@import url('https://fonts.googleapis.com/css2?family=Public+Sans&family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.header{
    width: 100%;
    height: auto;
    background-color: #20525c;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 95px;
    height: 95px;
    vertical-align: middle;
    /* margin-top: -17px; */ 
    margin-left: 25px;
}
.header ul{
    /* display: inline-block; */
    display: flex;
    margin-right: 30px;
}
.header li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header li:hover{
   transform: scale(1.05);
   text-decoration: underline;
}
.header a{
    color: white;
    text-decoration: none;    
}
.headerimg{
    width: 100%;
}
.inleiding{
    display: flex;
    width: 100%;
    height: auto;
}
.left{
    width: 50%;
    height: auto;
}
.right{
    width: 50%;
    height: 300px;
}
.wrapper{
    width: 80%;
    margin-top: 50px;
   
}
.inleiding-container{
    display:flex;
    justify-content: center;
}
.inleiding-img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 1024px){
    .left{
        width: 95%;
        height: auto;
        order: 2;
        margin-left: 20px;
        margin-top: 20px;
    } 
    .right{
        width: 100%;
        min-height: 300px;
        height: auto ;
        order: 1;
        text-align: center;
    }
    .wrapper{
        width: 100%;
        margin-top: 50px;
        
    }
    .inleiding{
        /* display: block; */
        flex-direction:column;
        
    }
    /* .inleiding-img{
        width: 80%;
        height: auto;
        
    } */
}
@media only screen and (max-width: 450px){
/*     
    .inleiding-img{
        width: 100%;
        height: auto;
        
    } */
    .left{
        margin-top: -40px;
    }
}