@import url('https://fonts.googleapis.com/css2?family=Public+Sans&family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.header{
    width: 100%;
    height: auto;
    background-color: #20525c;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 95px;
    height: 95px;
    vertical-align: middle;
    /* margin-top: -17px; */ 
    margin-left: 25px;
}
.header ul{
    /* display: inline-block; */
    display: flex;
    margin-right: 30px;
}
.header li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header li:hover{
   transform: scale(1.05);
   text-decoration: underline;
}
.header a{
    color: white;
    text-decoration: none;    
}
.headerimg{
    width: 100%;
    height: 250px;
    object-fit: cover
}
.inleiding{
    display: flex;
    width: 100%;
    height: auto;
}
.left{
    width: 50%;
    height: auto;
}
.right{
    width: 50%;
    height: 300px;
}
.wrapper{
    width: 80%;
    margin-top: 50px;
   
}
.inleiding-container{
    display:flex;
    justify-content: center;
}
.inleiding-img{
    width: 70%;
    height: 300px;
    margin-left: 20px;
}
/* max-width 1024px */
@media only screen and (max-width: 1024px){
    .left{
        width: 95%;
        height: auto;
        order: 2;
        margin-left: 20px;
        margin-top: 20px;
    } 
    .right{
        width: 100%;
        min-height: 300px;
        height: auto ;
        order: 1;
        text-align: center;
    }
    .wrapper{
        width: 100%;
        margin-top: 50px;
        
    }
    .inleiding{
        /* display: block; */
        flex-direction:column;
        
    }
    .inleiding-img{
        width: 100%;
        height: 600px;
        margin-left: 0px;
    }
    .left-main{
        width: 100%;
        height: 200px;
        margin-top: 25px;
    }
    .right-main{
        width: 100%;
        height: 200px;
        margin-top: 25px;
    }
    .main{
        background-color: #00000008;
        height: auto;
        width: 100%;
        flex-direction: column;
    }
}
/* max-width 450px */
@media only screen and (max-width: 450px){
    .left{
        margin-top: 0px;
    }
    .inleiding-img{
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }
}
/* main */

.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(81, 81, 85);
}
.nav a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 50px;
    
}
.nav h2{
    color: white;
}
.nav{
    margin-left: 20px;
    padding: 20px;
    width: 20%;
}
.nav a:hover{
    text-decoration: underline;
}
.footer{
    display: flex;
}
.contact{
    margin-top: 20px;
}
.contact h2{
    color: white;

}
.left-main{
    width: 40%;
    height: 200px;
    margin-top: 25px;
}
.right-main{
    width: 40%;
    height: 200px;
    margin-top: 25px;
}
.right-container{
    margin-left: 20px;
}
.main{
    background-color: #00000008;
    height: 400px;
    width: 100%;
    margin-top: 10px ;
    display: flex;
    justify-content: center;
}
.contact-img{
    width: 50%;
}
.contact-button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border:  none;
    margin-top: 30px;
    cursor: pointer;
    background-color: #dfe667;
}