#tittle {
    text-align: center;
    font-size: 30px;
    margin: 50px;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kaartje {
border: 1px solid black;
height: 480px;
width: 485px;
background-color: #20525c;
padding: 10px;
color: white;

}

#contactform {
/* border: 1px solid black; */
height: 500px;
width: 800px;


}

.icons{
    display: flex;
   
}
.text {
  
}

.text p {
    margin: 0;
    padding: 8px;
}

#namemail {
    display: flex;
}
#naame {
    height: 100px;
    width: 300px;
}
#achtername {
    height: 100px;
    width: 300px;
}
#emaile {
    height: 100px;
}
#boxes {
    padding: 30px;
    margin: 20px 0;
}
#naam {
    width: 90%;
}
#anaam {
    width: 100%;
}
#onderwerp {
    width: 90%;
    height: 50px;
}
#bericht {
    width: 90%;
    height: 100px;
}