#tittle {
    text-align: center;
    font-size: 30px;
    margin: 50px;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#kaartje {
/* border: 10px solid black; */
height: 480px;
width: 40%;
background-color: #20525c;
padding: 10px;
color: white;

}

#contactform {
/* border: 1px solid black; */
height: 500px;
width: 40%;


}

.icons{
    display: flex;
   
}
.text {
  
}

.text p {
    margin: 0;
    padding: 8px;
}

#namemail {
    display: flex;
    width: 93%;
}
 #naame { 
    width: 50%;
    
}
#achtername { 
    width: 50%;
    
}
#emaile {
    height: 100px;
}
#boxes {
    padding: 30px;
    margin: 20px 0;
}
#naam {
    width: 90%;
    height: 50px;
}
#anaam {
    width: 90%;
    height: 50px;
}
#email {
    width: 90%;
    height: 50px;
}
#bericht {
    width: 90%;
    height: 100px;
}

#binnen {   
    /* border: 10px black solid; */
    height: 250px;
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #20525c;
    color: white;
    

}
#flexcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;

}

@media only screen and (max-width: 870px){
    #box{
        display: flex;
        flex-direction: column;
    }
    #contactform {
        height: 500px;
        width: 80%;
    }
    #kaartje {
        width: 80%;
        order: 1;
    }

    #naam {
        width: 180%;
        height: 50px;
    }
    #anaam {
        width: 180%;
        height: 50px;
        
    }
    #namemail {
        flex-direction: column;
        width: 100%;
    }
}

