#flexcontainer1{
    display: flex;
    justify-content: center;
}

#main{
    border-radius: 10px;
    background-color:#7EA310;
    height: 1000px;
    width: 1000px;
}

.img{
    border-radius: 10px;
    height: 94%;
    width: 40%;
    margin: 2%;
}

.img2{
    width: 40%;
    height: 40%;
    border-radius: 10px;
}

#flexcontainer3{
    display: flex;
}

#flexcontainer2{
    display: flex;
    height: 40%;
    width: 100%;
}

#side{
    text-decoration: none;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    width: 52%;
    height: 84.5%;
    background-color: #dfe667;
}

#sidelink{
    text-decoration: none;
    color: black;
}

#below{
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    width: 92%;
    height: 52%;
    background-color: #dfe667;
}