body{
	background:#e6e6e6;
  }
  #slider{
	width:100%;
	height: 300px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
  }
  
  .slide{
	width:100%;
	display:none;
	animation-name:fade;
	animation-duration:1s;
	
  }
  img{
   /* width:100%;  */
   height: 300px;
  }

  @keyframes fade{
	from{opacity:0.5;}
	to{opacity:1;}
  }
  
  .controls{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	font-size:1.5em;
	padding:15px 10px;
	border-radius:5px;
	
  }
  
  .controls:hover{
	background:rgb(77, 77, 77);
	transition:0.3s;
	cursor: pointer;
  }
  
  .controls:active{
	color:rgb(255, 0, 0);
  }
  
  #left-arrow{
	left:10px;
  }
  
  #right-arrow{
	right:10px;
  }
  
  #dots-con{
	
	text-align:center;
  }

  .slide img {
	width: 100%;
	z-index: -1;
  }
  .dot{
	display:inline-block;
	/* background:grey; */
	padding:8px;
	border-radius:50%;
	margin:10px 5px;
  }
  
  .active{
	/* background:crimson; */
  }
  
  @media (max-width:576px){
	#slider{width:100%;
	
	}
	
	.controls{
	  font-size:1em;
	}
	
	#dots-con{
	  display:none;
	}
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color: #fff;
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 700,
	'GRAD' 200,
	'opsz' 48
  }